
@import "bootstrap/dist/css/bootstrap.min.css";
@import "bootstrap-icons/font/bootstrap-icons.css";
@import "tailwindcss";

:root {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif;

    --primary: #758db8;
    --primary-light: #8FA6D1;
    --secondary: #5F78A5;
    --bg: #F4F7FC;
    --card: #FFFFFF;
    --border: #D9E2F2;
    --text: #2E3A4F;
}

body {
    font-family: var(--font-sans);
    background-color: #F4F7FC;
    color: #2E3A4F;
}

/* NAVBAR */
.navbar {
    background: linear-gradient(90deg, #758db8, #5F78A5);
    box-shadow: 0 5px 20px rgba(60, 85, 125, 0.15);
}

.navbar .nav-link,
.navbar-brand {
    color: white;
}

.navbar .nav-link:hover {
    opacity: 0.8;
}

/* CARD */
.card {
    border: none;
    border-radius: 16px;
    box-shadow: 0 10px 25px rgba(60, 85, 125, 0.08);
    background-color: #FFFFFF;
}

/* TABLE */
.table {
    background-color: white;
    border-radius: 15px;
    overflow: hidden;
}

.table thead {
    background-color: #758db8;
}

.table thead th {
    color: white;
    border: none;
    font-weight: 600;
}

.table tbody tr:hover {
    background-color: #EEF3FB;
}

/* JUDUL */
.judul-produk {
    color: #5F78A5;
    font-weight: 700;
    margin-bottom: 25px;
}

/* CREATE */
.btn-create {
    background-color: #758db8;
    border-color: #758db8;
    color: white;
    border-radius: 8px;
}

.btn-create:hover {
    background-color: #5F78A5;
    border-color: #5F78A5;
    color: white;
}

/* SEARCH */
.btn-search {
    background-color: #758db8;
    border-color: #758db8;
    color: white;
}

.btn-search:hover {
    background-color: #5F78A5;
    border-color: #5F78A5;
    color: white;
}

/* INPUT SEARCH */
.search-box .form-control {
    border: 1px solid #C9D6EA;
}

.search-box .form-control:focus {
    border-color: #758db8;
    box-shadow: 0 0 0 0.2rem rgba(117, 141, 184, 0.2);
}

/* FOTO */
.foto-produk {
    border: 2px solid #C9D6EA;
    border-radius: 8px;
}

/* DETAIL */
.btn-detail {
    background-color: #758db8;
    border-color: #758db8;
    color: white;
    border-radius: 6px;
}

.btn-detail:hover {
    background-color: #5F78A5;
    border-color: #5F78A5;
    color: white;
}

/* EDIT */
.btn-edit {
    background-color: #758db8;
    border-color: #758db8;
    color: white;
    border-radius: 6px;
}

.btn-edit:hover {
    background-color: #5F78A5;
    border-color: #5F78A5;
    color: white;
}

/* HAPUS */
.btn-hapus {
    background-color: #758db8;
    border-color: #758db8;
    color: white;
    border-radius: 6px;
}

.btn-hapus:hover {
    background-color: #5F78A5;
    border-color: #5F78A5;
    color: white;
}

/* PAGINATION */
.pagination .page-link {
    color: #5F78A5;
    border-color: #758db8;
}

.pagination .page-link:hover {
    background-color: #E8EEF8;
    color: #4E6792;
}

.pagination .active .page-link {
    background-color: #758db8;
    border-color: #758db8;
    color: white;
}
